@charset "UTF-8";


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&family=Raleway:wght@100;500;600;900&display=swap");


:root {
    --green: rgb(1, 59, 44);
    --gray: #E0E1E0;
    --white: #ffffff;
    --ice-gray: #f1f1f1;
    --content-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--content-font);
}

body {
    line-height: 1.4;
    background-color: var(--gray);
}

header {
    background-color: var(--green);
    padding: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 20px;

}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    font-weight: bold;
    transition-duration: 0.7s;
  }


.search-box {
    position: absolute;
    right: 5px;
    top: 50px;
    padding: 10px;
    border-radius: 40px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: (aliceblue);
    font-size: 16px;
    line-height: 40px;
}


.search-button {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}